body, html{
    min-height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.navbar img{
    height: 50px;
    width: 50px;
}

#webDesignQuote{
    font-size: 24px;
    font-family: 'Satisfy', cursive; 
}

#aboutUs{
    padding-top:1rem;
    margin:auto;
    display:block;
    border-radius: 5px;
    background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

#usPhotos {
    width: 40%;
}

#usPhotos img{
    height: 25;
    width:auto;

}

@media only screen and (max-width: 600px) {
    #usPhotos{
        width:100%;
    }

    #usPhotos img{
        width:100%;
        height: auto;
    }
  }